.App {
  font-family: sans-serif;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 20px
}

.form input {
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}

button {
  transition-duration: 0.4s;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}

.error-banner {
  margin-top: 20px;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.error-message {
  font-size: 18px;
  font-weight: bold;
}

.success-banner {
  margin-top: 20px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.success-message {
  font-size: 18px;
  font-weight: bold;
}